body {
    overflow-x: hidden;
}

.item {
    width: 500px;
    height: 500px;
    border: 1px solid greenyellow;
}

.newp {
    width: 300px;
    height: 300px;
    border: 1px solid red;
}

.tokio {
    max-width: 400px;
}

.border {
    border: 3px solid yellow;
    padding: 30px;
}

.images {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}